.InvoiceItem {
  background: var(--colors-main_light);
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 29px 48px 29px 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.InvoiceItem::after {
  content: "";
  display: block;
  width: 8px;
  height: 16px;
  background: url(../../../assets/arrow-right.png) no-repeat center;
  background-size: contain;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translate(0, -50%);
}

.InvoiceItemId {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: var(--colors-text);
}

.InvoiceItemDate {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: var(--colors-text-light);
}

.InvoiceItemName {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: #858bb2;
}

.InvoiceItemPrice {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.8px;
  color: var(--colors-text);
}
