.InputLabel input {
  outline: none;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--colors-text);
  padding: 16px 17px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: var(--color-border);
  border-radius: 4px;
  margin-bottom: 24px;
  background: var(--colors-main_light);
}
.InputLabel span {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #7e88c3;
  margin-bottom: 10px;
}
.InputLabel.Invalid input {
  border: 1px solid #ec5757;
}

.InputLabel.Invalid span {
  color: #ec5757;
}
