.ShortInvoicesItem {
  background: var(--colors-main_light);
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 29px 48px 29px 32px;
  display: flex;
  align-items: center;
}

.ShortInvoicesItemStatus {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #858bb2;
  margin-right: 16px;
}

.ShortInvoicesItemControls {
  margin-left: auto;
  display: flex;
}

.ShortInvoicesItemControls button {
  margin-left: 4px;
  margin-right: 4px;
}
