.AddInvoiceForm {
  padding-bottom: 20px;
}

.AddInvoiceFormTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: #0c0e16;
}
.AddInvoiceForm h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.375px;
  color: #777f98;
  margin-top: 32px;
}
.AddInvoiceForm h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #7c5dfa;
  margin-bottom: 24px;
  margin-top: 24px;
}
.AddInvoiceForm__TwoRows {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.AddInvoiceForm__TreeRows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}
.Controls {
  background: white;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0px;
  bottom: 0px;
  box-shadow: 33px -32px 136px 0px rgba(0, 0, 0, 0.07);
  padding: 20px 56px;
}
