.FullInvoiceInfo {
  background: var(--colors-main_light);
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 48px;
  margin-top: 32px;
}

.FullInvoiceInfo p {
  margin: 0px;
}

.FullInvoiceInfoHeader {
  display: flex;
  justify-content: space-between;
}

.FullInvoiceInfoBody {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.FullInvoiceInfoBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
}

.FullInvoiceInfoHeaderId span:first-child {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.8px;
  color: var(--colors-text);
  display: block;
}
.FullInvoiceInfoHeaderId span:first-child b {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.8px;
  color: #888eb0;
}

.FullInvoiceInfoSmall {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--colors-text-light);
  display: block;
}

.FullInvoiceInfoMarked {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.3125px;
  color: var(--colors-text);
  display: block;
  margin-top: 5px;
  margin-bottom: 3px;
}
